<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <base href=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="copyright" content=""/>
    <title>Add Product</title>

    <link rel="shortcut icon" type="image/x-icon" href="images/icon-logo.png"/>
    <link href="../../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/layout.css" rel="stylesheet"/>
    <script src="../../js/jquery.min.js">x</script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body class="bg-soft">
<div class="container-fluid padding0">
    <%- include('partials/header-admin'); %>
    <div id="main">
        <%- include('partials/navbar'); %>
        <h1><span class="glyphicon glyphicon-globe addtop" aria-hidden="true"></span>&nbsp;&nbsp;Product</h1>
        <div id="sub-main">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ol class="breadcrumb">
                        <li>Product</li>
                        <li class="active">Add Product</li>
                    </ol>
                </div>
            </div>
            <div class="row space-top">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8 option-h4 text-justify">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span aria-hidden="true">&nbsp;</span>Add Product
                        </div>
                        <div class="panel-body">
                        <form action="/admin/add-product" method="post">
                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" name="name" required>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                <label>Thumbnail</label>
                                <input type="file" class="form-control" placeholder="Thumbnail" name="image" required>
                                <input type="hidden" name="thumbnail">
                                <img src="" alt="" id="image-preview" style="width: 100px">
                            </div>
                            <div class="form-group  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Price</label>
                                <input type="text" class="form-control " placeholder="Price" name="price" required>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Stone</label>
                                <input type="text" class="form-control" placeholder="Stone" name="stone" required>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Category</label>
                                <select name="categoryId" class="form-control" style="width:73%">
                                    <%
                                        for (let i=0 ; i <data.length; i++){
                                    %>
                                        <option value="<%= data[i]._id %>"><%= data[i].category%></option>
                                    <%
                                    }
                                    %>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Status</label>
                                <input type="text" class="form-control" value="New" name="status" disabled>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info" type="submit">Submit</button>
                                <button class="btn btn-info" type="reset">Reset</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const cloudName = 'iamraw';
    const unsignedUploadPreset = 'hyfsqna2';

    var img = document.querySelector('[name="image"]');

    img.onchange = function () {
        var file = this.files[0];
        var url = `https://api.cloudinary.com/v1_1/${cloudName}/upload`;

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var responseDataJson = JSON.parse(this.responseText);
                console.log(responseDataJson);
                var imageUrl = document.querySelector('input[name="thumbnail"]');
                imageUrl.value = responseDataJson.public_id;
                document.getElementById('image-preview').src = responseDataJson.url;
            }
        }
        xhr.open('POST', url, true);
        var fd = new FormData();
        fd.append('upload_preset', unsignedUploadPreset);
        fd.append('tags', 'browser_upload');
        fd.append('file', file);
        xhr.send(fd);
    }
</script>
</body>
</html>