<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About Us</title>

    <link rel="icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico"
          type="image/x-icon"/>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/slider.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
</head>

<body class="cms-index-index">
<%- include('partials/header'); %>
<%- include('partials/navbar'); %>
<!-- header -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"><a title="Go to Home Page" href="/">Home</a><span>&mdash;›</span></li>
                <li class="category13"><strong>About Us</strong></li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container col2-right-layout" style="color: black">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-9 wow bounceInUp animated">
                <div class="page-title">
                    <h2>About Us</h2>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.098073567617!2d105.77944741486169!3d21.0287614859984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32940de77%3A0x3a64fc9d543bf0a5!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1610197675101!5m2!1svi!2s"
                        width="842" height="271" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                <h3>COMPANY PROFILE</h3>
                <p class="baseline-medium">Founded in 1978 in Milan,Gianni Versace S.r.l is one of the leading
                    international fashion design houses and a symbol of Italian luxury world-wide. It designs,
                    manufactures, distributes and retails fashion and lifestyle products including haute couture,
                    prèt-à-porter, accessories, jewellery, watches, eyewear, fragrances, and home furnishings all
                    bearing the distinctive Medusa logo. <br><br> The Versace Group distributes its products through a
                    world-wide D.O.S network which includes over 200 boutiques in the principal cities and over 1500
                    wholesalers worldwide.<br><br> Donatella Versace has been Artistic Director of Versace since 1997
                    and has steered the brand into the 21st century. Today, Versace represents its heritage through its
                    strong and fearless designs, while addressing a new global audience which continues to strengthen
                    Versace’s position in contemporary culture.<br><br> In 2000 Gianni Versace S.r.l opened Palazzo
                    Versace, the first hotel project to be branded by a luxury goods company, which provides tourists
                    and travellers the opportunity to experience and enjoy the complete Versace lifestyle. The second
                    Palazzo Versace built in Dubai opened in 2015. The third Palazzo Versace will be built in Macau,
                    China.<br><br>In February 2014, Gianni Versace S.r.l announced its agreement with Blackstone to
                    participate in the next phase of the Company’s development. Blackstone owns 20 percent of the
                    company; while the Versace family remains at its heart, with Ms. Allegra Versace Beck, Ms. Donatella
                    Versace and Mr. Santo Versace all playing important roles in the company. Donatella Versace holds
                    the dual role of Vice-President of the board and Artistic Director. <br><br> In May 2016, the
                    Versace Group appointed Mr. Jonathan Akeroyd to the position of CEO and member of the company’s
                    Board of Directors.
                    <br><br>
                    In September of 2018 Versace announced that one hundred percent of all Blackstone and Versace family
                    shares had been sold to the Group Michael Kors Limited. In January 2019, Gianni Versace S.r.l.
                    joined Capri Holdings Limited, forming a new global fashion luxury group together with Michael Kors
                    and Jimmy Choo.</p></section>
        </div>
    </div>
</div>
<%- include('partials/footer'); %>
<!-- End Footer -->

<!-- JavaScript -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/parallax.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript">
    //<![CDATA[
    jQuery(function () {
        jQuery(".slideshow").cycle({
            fx: 'scrollHorz',
            easing: 'easeInOutCubic',
            timeout: 10000,
            speedOut: 800,
            speedIn: 800,
            sync: 1,
            pause: 1,
            fit: 0,
            pager: '#home-slides-pager',
            prev: '#home-slides-prev',
            next: '#home-slides-next'
        });
    });
    //]]>
</script>
</body>

</html>