<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <base href=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="copyright" content=""/>
    <title>Login</title>
    <link href="../css/style-login.css" rel="stylesheet"/>
    <style>
        .error-message {
            color: red;
            padding: 5px 10px 0 20px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="cr">
    <h2>Login</h2>

    <form action="/login" method="post">
        <span><img src="../images/user.png"/></span><input type="text" name="username" placeholder="Username" required/><br/>
        <span><img src="../images/lock.png"/></span><input type="password" name="password" placeholder="Password" required/><br/>
        <div class="mirror mirror-child">
            <input type="submit" name="submit" value="Login">
        </div>
        <div style="text-align: left;margin-bottom: -19px;font-size:14px;">
            <a href="/" ><i class="glyphicon glyphicon-minus"></i> Back To Home </a>
        </div>
        <div style="text-align: right;margin-bottom: -15px;font-size:14px;">
            <a href="/register"><i class="glyphicon glyphicon-minus"></i> Register </a>
        </div>
    </form>
</div>
</body>
</html>