<header class="header-container">
    <div class="header-top">
    </div>
    <div class="header container">
        <div class="row">
            <div class="col-lg-3 col-sm-4 col-md-3">
                <!-- Header Logo -->
                <div> <a title="Back To Home Page" href="/"><img alt="Logo" src="https://res.cloudinary.com/iamraw/image/upload/v1611679281/logo_nt9ujg.png" width="30%"></a> </div>
                <!-- End Header Logo -->
            </div>
            <div class="col-lg-9 col-xs-12">
                <div class="toplinks">
                    <div class="links">
                        <div class="login"><a href="/login"><span>Log In</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>