<nav>
    <div class="container">
        <div class="nav-inner">
            <ul id="nav" class="hidden-xs ">
                <li><a href="/"><span>Home</span> </a></li>
                <li><a href="about-us"><span>About Us</span> </a></li>
                <li><a href="/sale-products"><span>Special Offers</span> </a></li>
                <li><a href="/new-arrival"><span>New Arrival</span> </a></li>

                <!--          product-->
                <li>
                    <a href="/product/list-product" class="level-top">
                        <span>Product</span>
                    </a>
                    <div style="display: none; left: 0px;" class="level0-wrapper">
                        <div class="level0-wrapper2">
                            <div class="nav-block nav-block-center">
                                <ul class="level0">
                                    <li>
                                        <a> <span></span></a>
                                    </li>
                                    <li>
                                        <a href="/aquamarine"> <span>Aquamarine</span></a>
                                    </li>
                                    <li>
                                        <a href="/ruby"> <span>Ruby</span></a>
                                    </li>
                                    <li>
                                        <a href="/jade"> <span>Jade</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!--          product-->
                <li><a href="/contact-us"><span>Contact Us</span> </a></li>
            </ul>
            <div class="search-box">
                <form action="http://htmldemo.magikcommerce.com/ecommerce/accord_html/full-width/red/cat" method="POST" id="search_mini_form" name="Categories">
                    <input type="text" placeholder="Search entire store here..." maxlength="70" name="search" id="search">
                    <button type="button" class="btn btn-default  search-btn-bg"> <span class="glyphicon glyphicon-search"></span>&nbsp;</button>
                </form>
            </div>
        </div>
    </div>
</nav>
