<header class="header-container">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-xs-6">
                    <div class="welcome-msg hidden-xs"><a href="../index.ejs"></a></div>
                </div>
                <div class="col-lg-7 col-md-7 col-xs-6">

                    <!-- Header Top Links -->
                    <div class="toplinks">
                        <div class="links">
                            <div class="myaccount"><a title="My Account" href="../login.ejs"><span>My Account</span></a>
                            </div>
                            <div class="wishlist"><a title="My Wishlist"
                                                     href="../wishlist.ejs"><span>Wishlist</span></a></div>
                            <!-- Header Company -->
                            <div class="dropdown block-company-wrapper hidden-xs"><a role="button"
                                                                                     data-toggle="dropdown"
                                                                                     data-target="#"
                                                                                     class="dropdown-toggle" href="#">
                                    <span>Company</span> <i class="icon-angle-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/about-us"> About
                                            Us </a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Privacy
                                            Policy </a></li>
                                </ul>
                            </div>
                            <!-- End Header Company -->
                            <div class="login"><a href="../login.ejs"><span>Log In</span></a></div>
                        </div>
                    </div>
                    <!-- End Header Top Links -->
                </div>
            </div>
        </div>
    </div>

    <div class="header container">
        <div class="row">
            <div class="col-lg-3 col-sm-4 col-md-3">
                <!-- Header Logo -->
                <div class="logo"><a title="Logo" href="../index.ejs"><img src=../../images/logo.png" width="0px"
                                                                           height="0px"></a></div>
                <!-- End Header Logo -->
            </div>
            <div class="col-lg-9 col-xs-12">
                <div class="top-cart-contain">
                    <div class="mini-cart">
                        <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"><a
                                    href="#"><span>Shopping Cart (5)</span></a></div>
                        <div>
                            <div style="display: none;" class="top-cart-content arrow_box">
                                <div class="block-subtitle">Recently added item(s)</div>
                                <ul id="cart-sidebar" class="mini-products-list">
                                    <li class="item odd"><a href="/product/list-product" title="Sample Product"
                                                            class="product-image"><img
                                                    src="products-images/product3.jpg" alt="Sample Product" width="55"></a>
                                        <div class="product-details"><a href="#" title="Remove This Item" onClick=""
                                                                        class="btn-remove1">Remove This Item</a> <a
                                                    class="btn-edit" title="Edit item" href="#">Edit item</a>
                                            <p class="product-name"><a href="/product/list-product">Sample Product</a>
                                            </p>
                                            <strong>1</strong> x <span class="price">$20.00</span></div>
                                    </li>
                                    <li class="item even"><a href="/product/list-product" title="Sample Product"
                                                             class="product-image"><img
                                                    src="products-images/product1.jpg" alt="Sample Product" width="55"></a>
                                        <div class="product-details"><a href="#" title="Remove This Item" onClick=""
                                                                        class="btn-remove1">Remove This Item</a> <a
                                                    class="btn-edit" title="Edit item" href="#">Edit item</a>
                                            <p class="product-name"><a href="/product/list-product">Sample Product</a>
                                            </p>
                                            <strong>1</strong> x <span class="price">$230.00</span></div>
                                    </li>
                                    <li class="item last odd"><a href="/product/list-product" title="Sample Product"
                                                                 class="product-image"><img
                                                    src="products-images/product5.jpg" alt="Sample Product" width="55"></a>
                                        <div class="product-details"><a href="#" title="Remove This Item" onClick=""
                                                                        class="btn-remove1">Remove This Item</a><a
                                                    class="btn-edit" title="Edit item" href="#">Edit item</a>
                                            <p class="product-name"><a href="/product/list-product">Sample Product</a>
                                            </p>
                                            <strong>2</strong> x <span class="price">$420.00</span></div>
                                    </li>
                                </ul>
                                <div class="top-subtotal">Subtotal: <span class="price">$520.00</span></div>
                                <div class="actions">
                                    <button class="btn-checkout"><span>Checkout</span></button>
                                    <button class="view-cart"><span>View Cart</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ajaxconfig_info" style="display:none"><a href="#"></a>
                        <input value="" type="hidden">
                        <input id="enable_module" value="1" type="hidden">
                        <input class="effect_to_cart" value="1" type="hidden">
                        <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav>
    <div class="container">
        <div class="nav-inner">
            <ul id="nav" class="hidden-xs">
                <li class="level0 nav-1 level-top"><a href="/"><span>Home</span> </a></li>
                <li class="level0 nav-8 level-top"><a href="about-us"><span>About Us</span> </a></li>
                <li class="level0 nav-8 level-top"><a href="/product/sale-products"><span>Special Offers</span> </a>
                </li>
                <li class="level0 nav-8 level-top"><a href="/product/new-arrival"><span>New Arrival</span> </a></li>

                <!--          product-->
                <li class="level0 nav-7 level-top parent"><a href="/product/list-product" class="level-top"> <span>Product</span>
                    </a>
                    <div style="display: none; left: 0px;" class="level0-wrapper dropdown-6col">
                        <div class="level0-wrapper2">
                            <div class="nav-block nav-block-center">
                                <ul class="level0">
                                    <li class="level1 nav-7-1 first parent item"><a href="/product/list-product"> <span>Pearl Libel</span>
                                        </a>
                                        <ul class="level1">
                                            <li class="level2 nav-7-3-15 first"><a href="/product/list-product"> <span>Rings</span>
                                                </a></li>
                                            <li class="level2 nav-7-3-16"><a href="/product/list-product">
                                                    <span>Neck</span> </a></li>
                                            <li class="level2 nav-7-3-17"><a href="/product/list-product"> <span>Bracelet</span>
                                                </a></li>
                                            <li class="level2 nav-7-3-18"><a href="/product/list-product">
                                                    <span>Raw</span> </a></li>
                                        </ul>
                                    </li>
                                    <li class="level1 nav-7-3 parent item"><a href="product-ruby"> <span>Ruby</span>
                                        </a>
                                        <ul class="level1">
                                            <li class="level2 nav-7-3-16"><a href="product-ruby"> <span>Neck</span> </a>
                                            </li>
                                            <li class="level2 nav-7-3-17"><a href="product-ruby"> <span>Bracelet</span>
                                                </a></li>
                                            <li class="level2 nav-7-3-18"><a href="product-ruby"> <span>Rings</span>
                                                </a></li>
                                        </ul>
                                    </li>
                                    <li class="level1 nav-7-3 parent item"><a href="/product/list-product"> <span>Black Gems</span>
                                        </a>
                                        <ul class="level1">
                                            <li class="level2 nav-7-3-16"><a href="/product/list-product">
                                                    <span>Neck</span> </a></li>
                                            <li class="level2 nav-7-3-17"><a href="/product/list-product"> <span>Bracelet</span>
                                                </a></li>
                                            <li class="level2 nav-7-3-18"><a href="/product/list-product">
                                                    <span>Raw</span> </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!--          product-->
                <li class="level0 nav-8 level-top"><a href="/contact-us"><span>Contact Us</span> </a></li>
            </ul>
            <!-- Search-col -->
            <div class="search-box">
                <form action="http://htmldemo.magikcommerce.com/ecommerce/accord_html/full-width/red/cat" method="POST"
                      id="search_mini_form" name="Categories">
                    <input type="text" placeholder="Search entire store here..." maxlength="70" name="search"
                           id="search">
                    <button class="btn btn-default  search-btn-bg"><span class="glyphicon glyphicon-search"></span>&nbsp;
                    </button>
                </form>
            </div>
            <!-- End Search-col -->
        </div>
    </div>
</nav>